
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/HelloAffectiva.csprojAssemblyReference.cache
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/HelloAffectiva.csproj.CoreCompileInputs.cache
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide-wal
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide-shm
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/db.lock
WindowsAffectiva/.vs/HelloAffectiva/v15/.suo
WindowsAffectiva/HelloAffectiva/HelloAffectiva.csproj.user
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/build.force
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.cache
*.dll
*.cache
