
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/HelloAffectiva.csprojAssemblyReference.cache
WindowsAffectiva/HelloAffectiva/obj/x64/Debug/HelloAffectiva.csproj.CoreCompileInputs.cache
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide-wal
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide-shm
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/storage.ide
WindowsAffectiva/.vs/HelloAffectiva/v15/Server/sqlite3/db.lock
